html{
    font-family: "Poppins";
    color:white;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}


#image1{
    width:400px;
    height:400px;
    background: url("/assets/imgs/sunrise.jpg");


}

#image1, #image2{

    display: inline-block;
}

#image3{
    width:400px;
    height:400px;
    background: url("/assets/imgs/sunrise.jpg");
    background-position-y: -400px;


}

#image4{
    width:400px;
    height:400px;
    margin-top:20px;
    background: url("/assets/imgs/sunrise.jpg");
    background-position-y: -800px;


}





