@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500&display=swap');



html{
    font-family: "Poppins";
    color:white;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.input{
    display: grid;
    border-radius: 4vw;
    border:none;
    width:80%;
    height:4vh;
    justify-content: center;

    margin: 5vh 5vh;


    box-sizing: border-box;
}
#username-input, #image-choose{

    font-size: 18px;
}
#username-input::placeholder,#image-choose {
    color: grey;

}
#form-container {
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:45vh;
    width:45vh;
    text-align: center;



    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#startbtn{
    font-family: "Poppins";
    font-size: 24px;
    background-color:lightblue;
}
